.posts {
    
    @include lg-min {
        padding-top: $gap * 5;
        padding-bottom: $gap * 5;
    }

    @include lg-md {
        padding-top:80px;
        padding-bottom: 80px;
    }

    @include md {
        padding-top:60px;
        padding-bottom: 60px;
    }

    &-container {
        @extend %container2;

        &__grid {
            display: grid;
            grid-gap: $gap;
            padding-bottom: $gap;

            @include lg-min {
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas:"p1 p1 p2 p3" "p4 p5 p6 p6";
            }

            @include lg-md {
                
                grid-template-areas:"p1 p1 p2" "p3 p4 p4" "p5 p5 p6";
                grid-template-columns: repeat(3, 1fr);
            }

            @include md-sm {
                grid-template-areas: "p1 p2" "p3 p4" "p5 p6";
                grid-template-columns: 1fr 1fr;
            }
            @include sm {
                grid-template-areas: "p1" "p2" "p3" "p4" "p5" "p6";
                grid-template-columns: 1fr;
            }
        }
        
        &__button {

            @include sm-min {
                display: flex;
                justify-content: center;
            }
        }
    }

    h2 {
        margin-top: 0;
        @include lg-min {

        }
    }



}