.about {
    background-color: $color-gray-light;
    padding: $gap * 5 $gap;



    &__container {
        display: grid;
        grid-template-columns: 1fr 271px;
        grid-gap: 100px;

        &__content {
            
        }
        &__image {

        }

    }
}
