
@import "../../libs/normalize-scss/sass/normalize/import-now";
@import "skin";
@import "variables";
@import "mixins";
@import "mixins-media";
@import "extends";

@import "common";
@import "header/header";
@import "header/header-overlay";
@import "header/header-menu";
@import "header/header-logo";
@import "header/header-navbar";
@import "header/header-content";

@import "sections/section-skills/skills";
@import "sections/section-skills/skills-item";
@import "sections/section-skills/skill-item-nth";
@import "sections/section-about";
@import "sections/section-form";
@import "sections/section-posts";
@import "sections/posts-item";

@import "footer";


 

/*Оформление навыков*/



  /*.skills-btn {
    display: block;
    margin: 20px;
  padding: 18px 20px;
  font-size: 1.125rem;
  border: 2px solid #2d3651;
  background-color: rgba(45, 54, 81, 0.8);
  min-width: 350px;
  text-align: center;
  letter-spacing: 0.1em;
  transition: 0.5s;
  }
  .skills-btn:hover {
    background-color: #d66926;
    transition: 0.5s;
  } */


