.skill-item {
    background-color: $color-primary;
    min-height: calc(33.333vh - 13.333px);
    position: relative;
    overflow: hidden; /*При навидении курсора на ссылку кортинку, скрывает края кортинки выходяшие за края контейнера*/

    &__overlay {  
        background-color: $color-primary;
        opacity: 0.8; /* прозрачность 80%*/
        z-index: 1;
        transition: 0.5s; 

        @include abs-position;     
    }

    &__image {
        @include abs-position;

        background-position: 50% 50%;
        background-size: cover;
        transition: 0.5s;
        
        
    }

    &__title {
        @include abs-position;
        
        z-index: 2;
        margin: 0;

        
    }

    &__link {
        display: flex;
        padding: 20px;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        font-size: 1.25rem;
        letter-spacing: 0.1em;
        transition: 0.5s;    
    }

    &:hover {
        .skill-item__overlay {
            background-color: $color-primary;
            opacity: 0.95 !important;
            transition: 0.5s;
        }

        .skill-item__image { 
            transform: scale(1.1);
            transition: 0.5s;
        }

        .skill-item__link {
            color: $color-accent;
            transition: 0.5s;
        }
    }       
  }
  
  
  