.header-content {
    position: relative; /*выносим поверх всех слоев*/
    width: 100%;

    &__title {
      color: $color-light;  
      text-align: center;
      letter-spacing: 0.079em;
      font-weight: 300;
      line-height: 1.2;
      padding-right: 22px;  
      

      @include lg-min {
         margin: 0 0 53px 0;
      }
      
      @include lg-md {
         margin: 0 0 43px 0;
      }
      
      @include md {
         margin: 0 0 33px 0;
      }
      
   }

   &__buttons {
      display: flex;
      justify-content: center;
      padding-right: $gap;
      @include sm {
         flex-direction: column;
         align-items: center;
      }
      
      .btn:first-of-type {
         @include sm-min {
            margin-right: $gap;
         }
         @include sm {
            
            margin-bottom: $gap;
         }
         
      }
   }
   &__container {
      @extend %container;
   }  
}

 