
  .header-navbar {
    
    display: flex;
    justify-content: flex-end;

    &__btn {
      display: none;  
    }

    &__list {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      /*display: grid;
      grid-template-columns: repeat(auto-fit, minmax(50px,max-content));*/ 
    }

    &__item {
      margin: 20px;
     }

    &__link {
      display: block;
      
      padding-right: 0px;
      padding-left: 0;
      font-size: 1.125rem;
      letter-spacing: 0.09em;
      transition: 0.5s;

      &:hover,
      &:focus {
        color: $color-accent;
        transition: 0.5s;
      }
    }
    
  }